.menu-bar {
  background-color: #1988f7;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

a {
    position: relative;
  }
  
  a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, #F1C40F, #E74C3C);
    border-radius: 0;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover::before {
    width: 100%;
    border-radius: 50%;
  }

  body {
    background: linear-gradient(to right, #f7d3a1 0%, #fcb69f 100%);
  }

  p {
    font-family: 'Courier New', Courier, monospace;
  }